{% load static %} {% block custom_style %}
<style>
  .search_bar {
    flex-grow: 1;
    margin: auto;
    background-color: #edf2f4;
    padding: 8px;
    border-radius: 8px;
  }
  input {
    width: 100%;
    border: none;
    background-color: #edf2f4;

    outline: none;
  }

  .search_bar:focus-within {
    border: 2px solid #d90429;
  }
  .go-btn {
    border: none;
    padding: 8px;
    border-radius: 8px;
  }
  .flex {
    gap: 5px;
  }

  @media screen and (max-width: 480px) {
    .username-in-nav {
      display: none;
    }
  }
</style>
{% endblock %}
<nav>
  <div class="nav">
    <a class="logo" href="/">picPlus+</a>
    <div class="search_bar">
      <form method="GET" action="{% url 'search_posts' %}">
        <div class="flex">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            x="0px"
            y="0px"
            width="24"
            height="24"
            viewBox="0 0 30 30"
          >
            <path
              d="M 13 3 C 7.4889971 3 3 7.4889971 3 13 C 3 18.511003 7.4889971 23 13 23 C 15.396508 23 17.597385 22.148986 19.322266 20.736328 L 25.292969 26.707031 A 1.0001 1.0001 0 1 0 26.707031 25.292969 L 20.736328 19.322266 C 22.148986 17.597385 23 15.396508 23 13 C 23 7.4889971 18.511003 3 13 3 z M 13 5 C 17.430123 5 21 8.5698774 21 13 C 21 17.430123 17.430123 21 13 21 C 8.5698774 21 5 17.430123 5 13 C 5 8.5698774 8.5698774 5 13 5 z"
            ></path>
          </svg>
          <input
            type="text"
            name="q"
            class="search-form-control"
            placeholder="Search.."
          />
        </div>
      </form>
    </div>
    <div class="username_nd_icon" onclick="openDropDown()">
      {% if user.userprofile.profile_picture %}
      <img
        class="profile_pic"
        src="{{user.userprofile.profile_picture.url}}"
        alt=""
      />
      {% endif %}

      <p class="username-in-nav">{{user.username}}</p>

      <i class="fa-solid fa-caret-down"></i>
    </div>
  </div>
</nav>
<div id="dropDownModal" class="dropdown-content">
  <div class="user-details-container">
    {% if user.userprofile.profile_picture %}
    <img
      class="profile_pic"
      src="{{user.userprofile.profile_picture.url}}"
      alt=""
    />
    {% endif %}

    <div class="user-details">
      <p>{{user.username}}</p>
      <p style="color: #7b7a7a">{{user.email}}</p>
    </div>
    <div>
      <i class="fa-solid fa-check"></i>
    </div>
  </div>
  <a href="/profile" class="dropdown-item"><p>profile</p></a>
  <a href="{% url 'user_logout' %}" class="dropdown-item"><p>Logout</p></a>
</div>
{% block custom_scripts %}
<script>
  function openDropDown() {
    var modal = document.getElementById("dropDownModal");
    if (modal.style.display === "block") {
      modal.style.display = "none";
    } else {
      modal.style.display = "block";
    }
  }
</script>
{% endblock %}
