{% extends 'base.html' %} {% load static %} {% block title %} Bookmark 
{% endblock %} {% block custom_style %}
<style>
  :root {
    --card_width: 250px;
    --card_border_radius: 16px;
    --row_increment: 10px;
    --card_small: 26;
    --card_medium: 33;
    --card_large: 45;
  }
  .card_container {
    display: grid;
    max-width: 1200px;
    min-height: 100vh;
    margin: 10px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }

  .saved-heading {
    text-align: center;
    
    align-self: flex-start;
    
    padding: 10px;
    font-size: 28px;
  }

  .saved-heading a {
    text-decoration: none;
    color: black;
    font-size: 22px;
  }

  .card {
    width: 100%;
    transition: transform 0.3s;
    position: relative;
  }

  .card img {
    border-radius: var(--card_border_radius);
    object-fit: cover;
    max-width: 100%;
    height: auto;
  }
  .mybookmarkIcon{
    font-size: 24px;
    margin-right: 5px;
    color: #780000;
  }
</style>
{% endblock %} {% block body %}
<!-- nav -->
{% include 'includes/navbar.html' %}
<div class="saved-heading" ><i class="fa-solid fa-bookmark mybookmarkIcon"></i><a href="/bookmark_page">Saved</a></div>
<div class="card_container">
  {% for mybookmark in mybookmarks %}
  <div class="card">
    <img src="{{mybookmark.post.image.url}}" alt="" />
  </div>
  {% endfor %}
</div>

{% endblock %}
