{% extends 'base.html' %} {% load static %} {% block title %} Bookmark
{%endblock %} {% block custom_style %}
<style>
  :root {
    --card_width: 250px;
    --card_border_radius: 16px;
    --row_increment: 10px;
    --card_small: 26;
    --card_medium: 33;
    --card_large: 45;
  }
  .container {
    max-width: 1200px;
    margin: 10px auto;
    justify-content: center;

    align-items: center;
    padding: 20px;
  }

  .head {
    display: flex;
    align-items: center;

    justify-content: space-between;
  }

  .image_container {
    display: grid;
    max-width: 1200px;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(220px, 1fr));
    justify-items: center;
    margin: 10px auto;
    gap: 10px;
    position: relative;
  }

  @media screen and (max-width: 480px) {
    .image_container {
      display: grid;
      max-width: 1200px;
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: center;
      margin: 10px auto;
      gap: 10px;
      position: relative;
    }
    .likeIcon {
      font-size: 12px;
    }
    .edit-profile-form-section {
      width: 80%;
    }
  }

  @media screen and (min-width: 480px) {
    .edit-profile-form-section {
      width: 40%;
    }
  }

  .card {
    width: 100%;

    transition: transform 0.3s;
    position: relative;
    color: white;
  }

  .card img {
    border-radius: 4px;
    object-fit: cover;
    max-width: 100%;
    height: 90%;
  }
  .profile_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  .profile_pic {
    width: 64px;
    height: 64px;
  }
  .fa-circle-chevron-left {
    font-size: 22px;
    color: #2b2d42;
    cursor: pointer;
  }
  .fa-gear {
    font-size: 22px;
    color: #2b2d42;
  }
  .likeIcon {
    position: absolute;
    bottom: 10px;
    left: 10%;
    width: 38px;
    height: 38px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .liked {
    color: red;
  }

  .addmodal {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 80px;
    width: 350px;
    min-height: 350px;
  }

  .addmodal-content {
    background-color: #fefefe;
    padding: 20px;

    border-radius: 10px;
    max-width: 400px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.54);
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }

  .bookmarked {
    color: #ee9b00;
  }
  .threedots {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 3px;
    color: black;
    cursor: pointer;
  }
  .threedots i:hover {
    background-color: #e6e4e4;
    border-radius: 4px;
  }
  .edit-post-dropdown {
    display: none;
    padding: 8px;
    border-radius: 4px;
    background-color: #ffffff;
    position: absolute;
    top: 30px;
    right: 5px;
    font-size: 12px;
  }

  .show {
    display: block;
  }
  .edit-post-dropdown:hover {
    background-color: #ccc;
  }
  a {
    text-decoration: none;
  }
  .fa-trash {
    color: black;
  }

  .edit-profile-btn-section {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .edit-profile-btn {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 4px;
    background-color: #8d99ae;

    color: white;
    padding: 6px 18px;
    cursor: pointer;
  }

  .edit-profile-btn:hover {
    background-color: #2b2d42;
  }
  .edit-profile-form-section {
    border-radius: 4px;
    display: none;
    margin: 10px auto;

    min-height: 250px;
  }
  .form-container {
    padding: 20px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
  }
  .username-field {
    grid-column: 1/ -1;
  }
  .edit-profile-pic {
    width: 52px;
    height: 52px;
    object-fit: cover;
    border-radius: 50%;
  }
  .form-item-pic-update {
    justify-self: center;
    grid-column: 1/ -1;
    align-self: center;
  }
  .btn-submit {
    border-radius: 4px;
    grid-column: 1/ -1;
    padding: 8px 14px;
    background-color: #2b2d42;
    color: white;
    border: none;
  }
  .file-input {
    display: none;
  }
</style>
{% endblock %} {% block body %}

<div class="container">
  <div class="head">
    <a href="/"><i class="fa-solid fa-circle-chevron-left"></i></a>

    <div class="profile_container" id="profile_container" style="display: flex">
      <img
        class="profile_pic"
        src="{{userprofile.profile_picture.url}}"
        alt=""
      />

      <p style="font-weight: bold; text-align: center">{{user.username}}</p>
      <p style="text-align: start; color: rgb(80, 79, 79); font-size: 14px">
        {{userprofile.bio}}
      </p>
    </div>
    <i class="fa-solid fa-gear"></i>
  </div>
  <div class="edit-profile-btn-section">
    <div
      class="edit-profile-btn"
      id="edit-profile-btn"
      onclick="toggleEditProfileForm()"
      data-user-id="{{user.id}}"
    >
      <p>Edit profile</p>
      <i class="fa-regular fa-pen-to-square"></i>
    </div>
  </div>
  <div class="edit-profile-form-section" id="profileForm" style="display: none">
    <form action="" id="updateProfileForm">
      {% csrf_token %}
      <div class="form-container">
        <div class="form-item-pic-update">
          <img
            class="edit-profile-pic"
            src="{{userprofile.profile_picture.url}}"
            alt=""
          />
        </div>
        <div class="form-item-pic-update">
          <label
            for="imageInput"
            class="file-label"
            style="font-size: 14px; color: #669bbc; cursor: pointer"
            >Edit Avatar</label
          >
          <input
            type="file"
            id="imageInput"
            placeholder="update profile"
            accept="image/*"
            name="image"
            class="file-input"
          />
        </div>

        <div class="form-item2">
          <input
            type="text"
            class="form-control"
            name="first_name"
            id="firstNameInput"
            placeholder="First Name"
          />
        </div>
        <div class="form-item2">
          <input
            type="text"
            class="form-control"
            name="last_name"
            id="lastNameInput"
            placeholder="Last Name"
          />
        </div>
        <div class="form-item2 username-field">
          <input
            type="text"
            class="form-control"
            name="username"
            id="usernameInput"
            placeholder="User Name"
          />
        </div>
        <div class="form-item2">
          <input
            type="text"
            class="form-control"
            name="email"
            id="emailInput"
            placeholder="Email"
          />
        </div>
        <div class="form-item2">
          <input
            type="text"
            class="form-control"
            name="bio"
            id="bioInput"
            placeholder="bio"
          />
        </div>
        <button class="btn-submit btn">Save</button>
      </div>
      <p class="message" id="message"></p>
    </form>
  </div>

  <div class="image_container">
    {% for post in posts %}
    <div class="card">
      <div class="threedots">
        <i
          class="fa-solid fa-ellipsis threedots"
          onclick="toggleDropdown(this)"
        ></i>
        <div class="edit-post-dropdown">
          <a class="btn-delete" href="{% url 'delete-post' post.id %}">
            <i class="fa-solid fa-trash btn-delete"></i>
          </a>
        </div>
      </div>
      <img src="{{post.image.url}}" alt="" />
      <div class="likeIcon" data-post-id="{{post.id}}">
        <i
          class="fa-regular fa-heart heart {% if request.user in post.liked_by.all %}liked{% endif %}"
        ></i>
        <p style="margin-left: 10px">{{post.liked_by.count}}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% include 'includes/footer.html' %} {% endblock %} {% block custom_scripts %}
<script>
  function toggleDropdown(icon) {
    var dropdown = icon.nextElementSibling;
    console.log(dropdown);
    dropdown.classList.toggle("show");
  }
  function toggleEditProfileForm() {
    const profileForm = document.getElementById("profileForm");
    profileForm.style.display =
      profileForm.style.display === "none" ? "block" : "none";
    var profile_pic_section = document.querySelector(".profile_container");

    const profile_container = document.getElementById("profile_container");
    profile_container.style.display =
      profile_container.style.display === "flex" ? "none" : "flex";
  }

  $(document).ready(function () {
    const csrfToken = $("input[name=csrfmiddlewaretoken]").val();

    $("#edit-profile-btn").click(function () {
      console.log("loading user data....");
      const userId = $(this).data("user-id");

      $.ajax({
        url: `/get_user_details/${userId}/`,
        method: "GET",
        success: function (data) {
          const userDetails = data.data;

          // Populate form fields with user details
          document.getElementById("firstNameInput").value =
            userDetails.first_name;
          document.getElementById("lastNameInput").value =
            userDetails.last_name;
          document.getElementById("usernameInput").value = userDetails.username;
          document.getElementById("emailInput").value = userDetails.email;
          document.getElementById("bioInput").value = userDetails.bio;

        },
        error: function (error) {
          console.error("Error fetching data:", error);
        },
      });
    });

    $("#updateProfileForm").submit(function (e) {
      e.preventDefault();
      var formData = new FormData(this);

      var fileInput = document.getElementById("imageInput");
      if (fileInput.files.length > 0) {
        console.log("form",formData);
      } else {
        $("#message").text("Please select an image.");
      }
    });
  });
</script>
{% endblock %}
