{% extends 'base.html' %} {% load static %} {% block title %} Bookmark
{%endblock %} {% block custom_style %}
<style>
  :root {
    --card_width: 250px;
    --card_border_radius: 16px;
    --row_increment: 10px;
    --card_small: 26;
    --card_medium: 33;
    --card_large: 45;
  }
  .container {
    max-width: 1200px;
    margin: 10px auto;
    justify-content: center;

    align-items: center;
    padding: 20px;
  }

  .head {
    display: flex;
    align-items: center;

    justify-content: space-between;
  }

  .image_container {
    display: grid;
    max-width: 1200px;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    justify-items: center;
    margin: 10px auto;
    gap: 10px;
    position: relative;
  }

  @media screen and (max-width: 480px) {
    .image_container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
    .likeIcon {
      font-size: 12px;
    }
  }

  .card {
    width: 100%;

    transition: transform 0.3s;
    position: relative;
    color: white;
  }

  .card img {
    border-radius: 4px;
    object-fit: cover;
    max-width: 100%;
    height: 90%;
  }
  .profile_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  .profile_pic {
    width: 64px;
    height: 64px;
  }
  .fa-circle-chevron-left {
    font-size: 22px;
    color: #e60124;
    cursor: pointer;
  }
  .fa-gear {
    font-size: 22px;
    color: #e60124;
  }
  .likeIcon {
    position: absolute;
    bottom: 10px;
    left: 10%;
    width: 38px;
    height: 38px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .liked {
    color: red;
  }

  .addmodal {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 80px;
    width: 350px;
    min-height: 350px;
  }

  .addmodal-content {
    background-color: #fefefe;
    padding: 20px;

    border-radius: 10px;
    max-width: 400px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.54);
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }
  .uploadbtn {
    width: 100%;
    background-color: #e60124;
    border: none;
    color: white;
    margin-top: 20px;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
  }

  .uploadbtn:hover {
    background-color: #780000;
  }

  .uploadInputBox {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 5px;
  }

  .close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    align-self: flex-end;
    cursor: pointer;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
  }

  .message {
    margin-bottom: 10px;
    color: #ee9b00;
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
  }
  .bookmarked {
    color: #ee9b00;
  }
  .threedots {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 3px;
    color: black;
    cursor: pointer;
  }
  .threedots i:hover {
    background-color: #e6e4e4;
    border-radius: 4px;
  }
  .edit-post-dropdown {
    display: none;
    padding: 8px;
    border-radius: 4px;
    background-color: #ffffff;
    position: absolute;
    top: 30px;
    right: 5px;
    font-size: 12px;
  }

  .show {
    display: block;
  }
  .edit-post-dropdown:hover {
    background-color: #ccc;
  }
  a {
    text-decoration: none;
  }
  .fa-trash{
    color: black;
  }
</style>
{% endblock %} {% block body %}

<div class="container">
  <div class="head">
    <a href="/"><i class="fa-solid fa-circle-chevron-left"></i></a>

    <div class="profile_container">
      <img
        class="profile_pic"
        src="{{userprofile.profile_picture.url}}"
        alt=""
      />

      <p style="font-weight: bold; text-align: center">{{user.username}}</p>
      <p style="text-align: start; color: rgb(80, 79, 79); font-size: 14px">
        {{userprofile.bio}}
      </p>
    </div>
    <i class="fa-solid fa-gear"></i>
  </div>
  <div class="image_container">
    {% for post in posts %}
    <div class="card">
      <div class="threedots">
        <i
          class="fa-solid fa-ellipsis threedots"
          onclick="toggleDropdown(this)"
        ></i>
        <div class="edit-post-dropdown">
          <a class="btn-delete" href="{% url 'delete-post' post.id %}">
            <i class="fa-solid fa-trash btn-delete"></i>
          </a>
        </div>
      </div>
      <img src="{{post.image.url}}" alt="" />
      <div class="likeIcon" data-post-id="{{post.id}}">
        <i
          class="fa-regular fa-heart heart {% if request.user in post.liked_by.all %}liked{% endif %}"
        ></i>
        <p style="margin-left: 10px">{{post.liked_by.count}}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% block custom_scripts %}
<script>
  function toggleDropdown(icon) {
    var dropdown = icon.nextElementSibling;
    console.log(dropdown);
    dropdown.classList.toggle("show");
  }
</script>
{% endblock %} {% endblock %}
